Source: bililive-recorder
Section: video
Priority: optional
Maintainer: aquanjsw <zhdlcc@gmail.com>
Rules-Requires-Root: no
# Ubuntu 24.04 LTS
Build-Depends:
 debhelper-compat (= 13), npm, dotnet-sdk-8.0
Standards-Version: 4.6.2
Homepage: https://rec.danmuji.org/
Vcs-Browser: https://github.com/BililiveRecorder/BililiveRecorder
Vcs-Git: https://github.com/BililiveRecorder/BililiveRecorder

Package: bililive-recorder
Architecture: any
Multi-Arch: foreign
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
Description: bilibili live stream recorder
 Bililive Recorder is a live stream recorder for bilibili.com
